<% if(data.length === 0) { %>
    <div>
        <div class="chat chat-start">
          <div class="chat-bubble chat-bubble-primary">
              Looks like
          </div>
        </div>
        <div class="chat chat-end">
          <div class="chat-bubble chat-bubble-warning">
            There is no data...
          </div>
        </div>
        <div class="chat chat-end">
          <div class="chat-bubble chat-bubble-success">
              For Barcelona <%= season.split('_').join(" ") %>
          </div>
        </div>
    </div>
<% } else { %>
    <div class="stats shadow">
         <div class="stat">
            <div class="stat-title uppercase">
                Barcelona <%= season.split('_').join(" ") %>
                top goal scorers
            </div>
            <svg height="<%= dim.height %>" width=" <%= dim.width %>">
                <g transform=translate(0,<%=dim.height - dim.padding %>) >
                   <path d="<%= getD(xScale) %>"/>
                   <% data.map(item => { %>
                    <g transform="translate(<%= center(xScale.copy(), 0)(item.name) %>, 0)" >
                        <!--
                        <line y2="<%= 3 %>" stroke="#000"/>
                        -->
                        <text class="text-sm" dy="0.71em" y="10" transform="rotate(45)">
                            <%= item.name.split(' ')[0] %>
                        </text>
                    </g>
                   <% }); %>
                </g>
                <g transform="translate(<%= dim.padding %>, 0)" >
                   <% yScale.ticks(10).map(tick => { %>
                    <g transform="translate(0, <%=yScale(tick) %>)" >
                        <!--
                        <line x2="<%= dim.width - dim.padding * dim.scaleBy %>" stroke="#000"/>
                        -->
                        <text class="text-sm" x="-30">
                            <%= tick %>
                        </text>
                    </g>
                   <% }); %>
                </g>
                <g>
                   <% data.map((datum) => { %>
                        <g>
                            <rect
                              x="<%= xScale(datum.name) %>"
                              y="<%= yScale(datum.g) %>"
                              height="<%= yScale.range()[0] - yScale(datum.g) %>"
                              width="<%= xScale.bandwidth() %>"
                              fill="#DCC8E0"
                              opacity="0.9"
                            />
                        </g>
                    <% }); %>
                </g>
            </svg>
          </div>
          <div class="stat">
              <h1 class="stat-title">Players</h1>
              <ul class="overflow-y-auto">
                <% players.map(name => { %>
                    <li class="stat-desc"> <%= name %> </li>
                <% }); %>
              </ul>
          </div>
    </div>
<% } %>
